/* *{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
  
}

.card-list{

  list-style: none;
}

.cardsmple{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: content;
  display: inline-block;
  

} */