.comp-li{
    margin: 0 0px 30px;
    background-color: rgba(83,182,208,.09);
    position: relative;
    /* display: block; */
    color: #333;
    background-color: #53b6d0;
}

/* .company-info-heading h2{
margin: 0 16px 48px;
text-align: center;
font-size: 40px;
line-height: 46px;
display: block;
margin-block-start: 0.83em;
margin-block-end: 0.83em;
margin-inline-start: 0px;
margin-inline-end: 0px;
} */

.company-card{
    justify-content: center;
    margin: 0 16px 40px;
    position: relative;
    border-radius: 50%;    
    display: inline-block;
    left: 9px;
    bottom: 137px;

}